	<footer>
	  <div class="container">

		<div class="row-fluid">
			<div class="span2">
				<h4>FontForge</h4>
				<ul>
					<li><a href="/en-US/project/">Project</a></li>
					<li><a href="https://github.com/fontforge/fontforge/blob/master/LICENSE" target="_blank">License</a></li>
					<li><a href="/en-US/donate/">Donate</a></li>
				</ul>
			</div>

			<div class="span2">
				<h4>About</h4>
				<ul>
					<li><a href="/docs/faq.html">FAQ</a></li>
<!-- The list is very incomplete anyways					<li><a href="/en-US/features/">Features</a></li>-->
					<li><a href="/en-US/roadmap/">Roadmap+Log</a></li>
					<li><a href="/en-US/funding/">Funding</a></li>
					<li><a href="/en-US/project/acknowledgements/">Contributors</a></li>
				</ul>
			</div>

			<div class="span2">
				<h4>Develop</h4>
				<ul>
					<li><a href="/docs/techref/sfdformat.html">SFD Spec</a></li>
					<li><a href="/docs/techref/pfaeditmath.html">Math</a></li>
				</ul>
			</div>
            
            <div class="span2">
				<h4>Utilities</h4>
				<ul>
					<li><a href="/docs/fontutils/fontlint.html">fontlint</a></li>
					<li><a href="/docs/fontutils/sfddiff.html">sfddiff</a></li>
					<li><a href="/docs/fontutils/fontimage.html">fontimage</a></li>
					<li><a href="/docs/fontutils/acorn2sfd.html">acorn2sfd</a></li>
					<li><a href="/docs/fontutils.html">Other</a></li>
				</ul>
			</div>      
            
            <div class="span2">
				<h4>Scripting</h4>
				<ul>
					<li><a href="/docs/tutorial/scripting-tutorial.html">Tutorial</a></li>
					<li><a href="/docs/scripting/python.html">Python</a></li>
					<li><a href="/docs/scripting/scripting.html">Native</a></li>
				</ul>
			</div>


<!-- Couldn't be col number 3 => error on smaller displays -->      
			<div class="span2">
				<h4>Reference</h4>
				<ul>
					<li><a href="/docs/glossary.html">Glossary</a></li>
					<!-- <li><a href="#">Font Formats</a></li>
					<li><a href="#">Unicode</a></li>
					<li><a href="#">Encodings</a></li>
					<li><a href="#">OpenType</a></li> -->
					<li><a href="/docs/appendices/bibliography.html">Bibliography</a></li>
					<!-- <li><a href="#">Related Sites</a></li> -->
				</ul>
			</div>

		</div>

	  <div class="row-fluid">
<!--
        <p><a href="https://github.com/fontforge/fontforge.github.io/blob/master
					{{ page.url | split: '/' | join: '/' }}.md">Edit this page</a> - <a href="/en-US/site/">Learn how</a></p>
-->
	  	<small class="copyright">Copyright &copy; 2000 &ndash; 2015, George Williams and the FontForge Project contributors. Shared freely under the project license.</small>
	  </div>
	</div>
	</footer>
