<section>

<h3>Fontforge</h3>

<ul>
<li><a href="index.html">Home</a></li>
<li><a href="download.html">Download</a></li>
<li><a href="changelog.html">Changelog</a></li>
<li><a href="acknowledgements.html">Acknowledgements</a></li>
<li><a href="helpout.html">Help Out</a></li>
<li><a href="http://sourceforge.net/projects/fontforge/">SF Project page</a>  </li>
<li><a href="http://sourceforge.net/project/project_donations.php?group_id=103338">Donate</a>  </li>
</ul>

</section>
<section>

<h3>Features</h3>

<ul>
<li><a href="features.html">Features</a></li>
<li><a href="lacks.html">Things missing</a></li>
<li><a href="bugs.html">Known bugs</a></li>
</ul>

</section>
<section>

<h3>Reference</h3>

<ul>
<li><a href="bibliography.html">Bibliography</a></li>
<li><a href="related-tools.html">Related tools</a></li>
<li><a href="librefontdevelopment.html">Libre Font Dev Efforts</a></li>
</ul>

</section>
<section>

<h3>Documentation</h3>

<ul>
<li><a href="overview.html">Table of Contents</a></li>
<li><a href="install.html">Install</a></li>
<li><a href="editexampple.html">Get started</a></li>
<li><a href="glossary.html">Typographic Glossary</a></li>
<li><a href="faqFS.html">FAQ</a></li>
</ul>

</section>

