	<!-- FOOTER -->
	<footer class="footer">
	  <div class="container">
  
	  <div class="row-fluid">
	  	<small class="copyright">Website Copyright &copy; 2000 - 2012, <a href="/en-US/about/site/">George Williams and others</a>. Shared freely under the <a href="/en-US/about/project/license/">revised BSD license</a>.</small>
	  </div>
  
		<div class="row-fluid">
		
			<div class="span2">
				<a href="/en-US/">
				<h4 class="brand">
					<span>FontForge</span>
			 	</h4>
			 	</a>
				<ul>
					<li><a href="/en-US/">Home</a></li>
					<li><a href="/en-US/downloads/">Download</a></li>
					<li><a href="/en-US/tutorials/">Tutorials</a></li>
					<li><a href="/en-US/documentation/">Documentation</a></li>
					<li><a href="/en-US/about/site/siteindex/">Site Index</a></li>
					<li><a href="/en-US/about/site/sitemap/">Site Map</a></li>
				</ul>
			</div>
		
			<div class="span2">
				<h4>About</h4>
				<ul>
					<li><a href="/en-US/about/faq/">FAQ</a></li>
					<li><a href="/en-US/about/features/">Features</a></li>
					<li><a href="/en-US/about/roadmap/">Roadmap</a></li>
					<li><a href="/en-US/about/funding/">Funding</a></li>
					<li><a href="/en-US/about/project/license/">License</a></li>
					<li><a href="/en-US/about/project/acknowledgements/">Contributors</a></li>
					<li><a href="/en-US/about/project/history/">History</a></li>
				</ul>
				<h4>Customizing</h4>
				<ul>
					<li><a href="/en-US/documentation/customizing/extrafeatures/">Extra Features</a></li>
					<li><a href="/en-US/documentation/interface/hotkeys/">Hotkeys</a></li>
					<li><a href="/en-US/documentation/customizing/themes/">Themes</a></li>
				</ul>
			</div>
		
			<div class="span2">
				<h4>Reference</h4>
				<ul>
					<li><a href="#">Glossary</a></li>
					<li><a href="#">Font Formats</a></li>
					<li><a href="#">Unicode</a></li>
					<li><a href="#">Encodings</a></li>
					<li><a href="#">OpenType</a></li>
					<li><a href="#">Bibliography</a></li>
					<li><a href="#">Related Sites</a></li>
				</ul>

				<h4>Scripting</h4>
				<ul>
					<li><a href="/en-US/tutorials/scripting/">Tutorial</a></li>
					<li><a href="/en-US/documentation/scripting/python/">Python</a></li>
					<li><a href="/en-US/documentation/scripting/native/">Native</a></li>
<!--
					<li><a href="#">TeX</a></li>
-->
				</ul>
			</div>
		
			<div class="span2">
				<h4><a href="/en-US/documentation/developers/">Developers</a></h4>
				<ul>
					<li><a href="#">Changelog</a></li>
					<li><a href="#">How To</a></li>
					<li><a href="/en-US/documentation/developers/sfdformat/">SFD Spec</a></li>
					<li><a href="/en-US/documentation/developers/plugins/">Plugins</a></li>
					<li><a href="/en-US/documentation/developers/splinefont/">Splines</a></li>
					<li><a href="/en-US/documentation/developers/pfaeditmath/">Math</a></li>
					<li><a href="/en-US/documentation/developers/buildingpackages/">Packaging</a></li>
				</ul>

				<h4><a href="/en-US/documentation/utilities/">Font Utilities</a></h4>
				<ul>
					<li><a href="/en-US/documentation/utilities/fontlint/">fontlint</a></li>
					<li><a href="/en-US/documentation/utilities/sfddiff/">sfddiff</a></li>
					<li><a href="/en-US/documentation/utilities/fontimage/">fontimage</a></li>
					<li><a href="/en-US/documentation/utilities/acorn2sfd/">acorn2sfd</a></li>
				</ul>
			</div>
		
			<div class="span2">
				<div class="roundel">
					<h3><a href="https://github.com/fontforge/fontforge.github.com/blob/master{{ page.url | split: '/' | join: '/' | remove: '.html' }}.md" target="_blank">
						EDIT<br />
						THIS<br />
						PAGE</a></h3>
						<p><a href="/en-US/about/site/">learn how</a></p>
					</a>
				</div>
			</div>
		
		</div>
	
	</footer>

	<div class="metal">
		<img width="300" src="/assets/img/metal-fontforge.jpg" />
	</div>
