    <!-- JAVASCRIPT -->
    <script src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/site.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    function humanise(n){
      var d = ',';
      var s = '.';
      n = n.toString().split('.');
      n[0] = n[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + d);
      return n.join(s);
    };

    $(document).ready(function(){
        $.getJSON("https://api.github.com/repos/fontforge/fontforge/releases/latest", function(json) {
            var assetlist = json.assets;
            total = 0;
            $(assetlist).each(function(i, asset){
                total += asset.download_count;
            });
            $('#cnt-downloads').html(humanise(total));
            $('.statistic').fadeIn();
        });
        $.getJSON("https://sfbadge.herokuapp.com/commits/fontforge/fontforge/json", function(json) {
            $('#cnt-contributors').html(humanise(json.commits));
        });
    });
    </script>
    </body>
</html>
