<!-- JAVASCRIPT -->
<script src="/assets/js/jquery.js"></script>
<script type="text/javascript">
  $(function() {
    function humanise(n) {
      var d = ',';
      var s = '.';
      n = n.toString().split('.');
      n[0] = n[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + d);
      return n.join(s);
    };
    $.getJSON("https://api.github.com/repos/fontforge/fontforge/releases/latest", function(json) {
      var assetlist = json.assets;
      total = 0;
      $(assetlist).each(function(i, asset) {
        total += asset.download_count;
      });
      $('#cnt-downloads').html(humanise(total));
      $('.statistic').fadeIn();
    });
    $.getJSON("http://sfbadge.herokuapp.com/commits/fontforge/fontforge/json", function(json) {
      $('#cnt-contributors').html(humanise(json.commits));
    });
    $("#macdl, #windl").on("click touch", function() {
      var href = this.href;
      $('body').addClass('downloaded').delay(1000).queue(function(next) {
        location.href = href;
        next();
        return false;
      });
      return false;
    });
  });
</script>

</body>

</html>
