<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/fontforge.css" rel="stylesheet">
	<!--<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">-->

	<!--[if lt IE 9]>
		<script src="/assets/js/respond.min.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<div style="height: 1.5em; padding: 0.25em; background: red; color:yellow; text-align:center; font-size:1em">
	<a href="http://www.fontforge.org" style="color: yellow">UNDER CONSTRUCTION: Current site at www.fontforge.org</a>
</div>