<!DOCTYPE html>
<html class="windows x86 no-js" lang="en">
  <head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="FontForge is free and open-source outline font editor.">
	<meta name="author" content="The FontForge Project Contributors">
	<meta name="keywords" content="FontForge,font,typeface,design,create,opentype,truetype,UFO,SFD">

	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/jquery-ui.css" rel="stylesheet">
	<link href="/assets/css/fontforge.css" rel="stylesheet">
    	<link href="/assets/css/lightbox.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="/assets/js/respond.min.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
	<link type="image/png" href="/assets/img/favicon.png" rel="icon" />

</head>
