	<!-- SUBNAV  -->
	<div class="subnav noise">
	
		<div class="container">
		
			<!-- PILL NAV -->
	  		<ul class="nav nav-pills">
				<li><a href="/en-US/about/faq.html">FAQ</a></li>
				<li><a href="/en-US/about/screenshots.html">Screenshots</a></li>
				<li><a href="/en-US/about/donate.html">Donate</a></li>
				<li><a href="/en-US/about/helpout.html">Volunteer</a></li>
				<li><a href="/en-US/about/project/index.html">The project</a></li>
				<li><a href="/en-US/about/site/index.html">This site</a></li>
			</ul>
		
		</div>
	
		
		<div class="breadcrumbs">
			<div class="container">

				<form class="form-search doc-search-form" method="get" action="//www.google.com/search">
				     <input type="text" class="input-medium search-query" name="q" placeholder="Search this site...">
				     <button type="submit" class="btn btn-small">Go</button>
				     <input name="sitesearch" value="fontforge.github.com" type="hidden">
				</form>

				<ul class="breadcrumb">
					{% assign url = {{page.url}} %}
					{% assign delimiter = '/' %}
					{% capture allparts %}{{ url | replace: delimiter, ' ' }}{% endcapture %}

					{% capture myFirstWord  %}{{ allparts    | truncatewords: 1 | remove: '...' }}{% endcapture %}
					{% capture minusFirst   %}{{ allparts    | replace_first: myFirstWord, ''   }}{% endcapture %}

					{% capture mySecondWord %}{{ minusFirst  | truncatewords: 1 | remove: '...' }}{% endcapture %}
					{% capture minusSecond  %}{{ minusFirst  | replace_first: mySecondWord, ''  }}{% endcapture %}

					{% capture myThirdWord  %}{{ minusSecond | truncatewords: 1 | remove: '...' }}{% endcapture %}
					{% capture minusThird   %}{{ minusSecond | replace_first: myThirdWord, ''   }}{% endcapture %}

					{% capture myFourthWord %}{{ minusThird  | truncatewords: 1 | remove: '...' }}{% endcapture %}
					{% capture minusFourth  %}{{ minusThird  | replace_first: myFourthWord, ''  }}{% endcapture %}

					{% capture myFifthWord  %}{{ minusFourth | truncatewords: 1 | remove: '...' }}{% endcapture %}
					{% capture minusFifth  %}{{ minusFourth  | replace_first: myFifthWord, ''  }}{% endcapture %}

					{% capture mySixthWord  %}{{ minusFifth | truncatewords: 1 | remove: '...' }}{% endcapture %}

					{% if myFirstWord contains '.html' %}
					  <li><a href="/{{myFirstWord}}/index.html"><i class="icon-home"></i>Home</a> </li>
					{% elsif mySecondWord contains '.html' %}
					  <li><a href="/{{myFirstWord}}/index.html"><i class="icon-home"></i>Home</a> <span class="divider">&#187;</span> </li>
					  <li class="active">{{mySecondWord}}</li>
					{% elsif myThirdWord contains '.html' %}
					  <li><a href="/{{myFirstWord}}/index.html"><i class="icon-home"></i>Home</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/index.html">{{mySecondWord}}</a> <span class="divider">&#187;</span> </li>
					  {% unless myThirdWord == 'index.html' %}
					  <li class="active">{{myThirdWord}}</li>
					  {% endunless %}
					{% elsif myFourthWord contains '.html' %}
					  <li><a href="/{{myFirstWord}}/index.html"><i class="icon-home"></i>Home</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/index.html">{{mySecondWord}}</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/{{myThirdWord}}/index.html">{{myThirdWord}}</a> <span class="divider">&#187;</span> </li>
					  {% unless myFourthWord == 'index.html' %}
					  <li class="active">{{myFourthWord}}</li>
					  {% endunless %}
					{% elsif myFifthWord contains '.html' %}
					  <li><a href="/{{myFirstWord}}/index.html"><i class="icon-home"></i>Home</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/index.html">{{mySecondWord}}</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/{{myThirdWord}}/index.html">{{myThirdWord}}</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/{{myThirdWord}}/{{myFourthWord}}/index.html">{{myFourthWord}}</a> <span class="divider">&#187;</span> </li>
					  {% unless myFifthWord == 'index.html' %}
					  <li class="active">{{myFifthWord}}</li>
					  {% endunless %}
					{% else %}
					  <li><a href="/{{myFirstWord}}/index.html"><i class="icon-home"></i>Home</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/index.html">{{mySecondWord}}</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/{{myThirdWord}}/index.html">{{myThirdWord}}</a> <span class="divider">&#187;</span> </li>
					  <li><a href="/{{myFirstWord}}/{{mySecondWord}}/{{myThirdWord}}/{{myFourthWord}}/index.html">{{myFourthWord}}</a> <span class="divider">&#187;</span> </li>
					  <li class="active">{{mySixthWord}}</li>
					{% endif %}
					</ul>

			</div>
		</div>	


	</div>