	<!-- MAIN NAV -->
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
		
				<!-- LANGUAGE SWITCHER -->
<!--
			  	<div class="btn-group language-switcher">
			  		<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
			    		Language
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">English</a></li>
						<li><a href="#">Spanish</a></li>
						<li><a href="#">French</a></li>
						<li><a href="#">Japanese</a></li>
						<li><a href="/en-US/about/site/#translations">Add Translation...</a></li>
					</ul>
				</div>
-->
			
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/en-US/">FontForge</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="downloads"><a href="/en-US/downloads/">Download</a></li>
						<li class="docs"><a href="/en-US/documentation/">Documentation</a></li>
						<li class="about"><a href="/en-US/developers/">Development</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
