	<!-- SUBNAV  -->
	<div class="subnav noise">
	
		<div class="container">
		
			<!-- PILL NAV -->
			<ul class="nav nav-pills">
				<li><a href="/en-US/about/faq.html">FAQ</a></li>
				<li><a href="/en-US/about/screenshots.html">Screenshots</a></li>
				<li><a href="/en-US/about/donate.html">Donate</a></li>
				<li><a href="/en-US/about/helpout.html">Volunteer</a></li>
				<li><a href="/en-US/about/project/index.html">The project</a></li>
				<li><a href="/en-US/about/site/index.html">This site</a></li>
			</ul>
		
		</div>
	
		
		<div class="breadcrumbs">
			<div class="container">

				<form class="form-search doc-search-form" method="get" action="//www.google.com/search">
				     <input type="text" class="input-medium search-query" name="q" placeholder="Search this site...">
				     <button type="submit" class="btn btn-small">Go</button>
				     <input name="sitesearch" value="fontforge.github.com" type="hidden">
				</form>

				<ul class="breadcrumb">
				<!-- TODO redo this in jQuery so it links. I've installed https://github.com/tombonner/jurlp in the site, 
				$(document).jurlp("path"); //  [["en-US", "about", "index.html"]]
				$(document).jurlp("path").toString(); // /en-US/about/index.html
				-->
					<li><a href="#"><i class="icon-home"></i>Home</a> </li>
					{% assign crumbs = page.url | split: '/' %}
					{% assign crumbstotal = crumbs | size %}
					{% for crumb in crumbs offset:2 %}
						{% unless crumb == 'index.html' %}
							<li><span class="divider">&#187;</span> {{ crumb | remove: '.html' }} </li>
						{% endunless %}
					{% endfor %}
				</ul>
				
				<div id="breadcrumbs" class="breadcrumb">
				
			</div>
		</div>	


	</div>