	<!-- SUBNAV  -->
	<div class="subnav noise">
	
		<div class="container">
		
			<!-- PILL NAV -->
	  		<ul class="nav nav-pills">
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Screenshots</a></li>
				<li><a href="#">Donate</a></li>
				<li><a href="#">Volunteer</a></li>
				<li><a href="#">The project</a></li>
				<li><a href="#">This site</a></li>
			</ul>
		
		</div>
	
		
		<div class="breadcrumbs">
			<div class="container">
		  		
				<!-- SEARCH FORM -->
				<form class="form-search doc-search-form">
					<input type="text" class="input-medium search-query" placeholder="Search the docs...">
					<button type="submit" class="btn btn-small">Go</button>
				</form>
	
				<!-- BREADCRUMBS 
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i>Home</a> <span class="divider">&raquo;</span></li>
					<li><a href="#">About</a> <span class="divider">&raquo;</span></li>
					<li><a href="#">The Project</a> <span class="divider">&raquo;</span></li>
					<li class="active">History</li>
				</ul>
				-->
			</div>
		</div>	


	</div>