{% include html-start.html %}
     <body>
    {% include nav-main.html %}
    {% include nav-sub.html %}
        <!-- MAIN CONTENT CONTAINER -->
        <div class="content" id="content">
            <div class="container">
                <!-- CONTENT ROW WITH BIG TEXT -->
                <div class="row-fluid big-text">
                    <div class="span9">
                        <!-- PAGE HEADING -->
                        <h1 class="page-heading">{{ page.title }}</h1>
                        {% if page.toc %}
                        <div id="toc" class="toc"></div>
                        {% endif %}
                        {{ content }}
                    </div>
                </div>
                <!-- END CONTENT ROW WITH BIG TEXT -->
            </div>
        </div>
        <!-- END MAIN CONTENT CONTAINER -->
    {% include footer.html %}

{% include html-end.html %}
