{% include html-start.html %}

<body class="home">
	
{% include nav-main.html %}

	<!-- HERO UNIT -->
	<div class="hero-unit noise">
		<div class="screen">
	  		<div class="container">
	  			<div class="row-fluid">
	
					<div class="span6">	
						<h1>FontForge</h1>
							<p>Create and edit fonts in many formats: 
							OpenType, TrueType, AAT, PostScript, Multiple Master, 
							CID-Keyed, SVG and various bitmap formats</p> 
					</div>
					
					
				</div>
	  			
	  		</div>
	  	</div>
	</div>

	<!-- DOWNLOAD BAR  -->
  	<div class="download-bar">
  		<div class="container">
  			<div class="row-fluid">
  				
				<ul class="masthead-links unstyled">
					<li class="span4"><a href="downloads/" class="btn btn-primary btn-large" >Free Download</a></li>
					<li class="span4 statistic downloads"><strong id="cnt-downloads">1,234</strong> <span>downloads<br> this week</span></li>
					<li class="span4 statistic contributors"><strong id="cnt-contributors">987</strong> <span>changes<br> this month</span></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- roundel goes here? -->

	<!-- MAIN CONTENT CONTAINER -->
	<div class="content">
		<div class="container">
			
			<!-- CHROME FRAME -->
			<!--[if lt IE 7]>
			<div class="row-fluid">
				<section class="span8">
					<p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">
					Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">
					install Google Chrome Frame</a> to experience this site.</p>
				</section>
			</div>
			<![endif]-->
			
			<!-- WELCOME TEXT -->
			<div class="row-fluid">
				<section class="welcome span9">
				{{ content }}
				</section>
				
				<!-- LICENSE -->
				<section class="license span3">
					<div class="roundel">
						<h6>License</h6>
						<h3><span>FontForge</span> is FREE!</h3>
						<a href="about/project/license/">Find out more &raquo;</a>
					</div>
				</section>
			</div>
			
			<!-- SCREENSHOTS -->
			<div class="row-fluid">
				<section class="screenshots blockrow3 span12">
					<h2 class="blackbar"><span>Screenshots</span></h2>
					<ul>
						<li class="span4"><a class="orange" href="#">sshot a</a></li>
						<li class="span4"><a class="red" href="#">sshot b</a></li>
						<li class="span4"><a class="green" href="#">sshot c</a></li>
					</ul>
				 </section>
			</div>
			
			<!-- DOWNLOAD -->
			<div class="row-fluid">
				<section class="downloads blockrow6 span12">
					<h2 class="blackbar"><span>Downloads</span></h2>
					<ul class="supported-systems">
						<li class="span2"><a class="gnulinux" href="downloads/gnulinux/"><span>GNU+Linux</span></a></li>
						<li class="span2"><a class="mac" href="downloads/mac/"><span>Mac OS X</span></a></li>
						<li class="span2"><a class="windows" href="downloads/windows/"><span>Windows</span></a></li>
						<li class="span2"><a class="vms" href="downloads/vms/"><span>VMS</span></a></li>
						<li class="span2"><a class="source" href="downloads/source/"><span>Source Code</span></a></li>
						<li class="span2"><a class="uninstalling" href="downloads/uninstalling/"><span>Uninstalling</span></a></li>
					</ul>
				</section>  
			</div>
			
			
			<!-- VIDEOS -->
			<section class="videos">
				
					<div class="row-fluid">
						<h2 class="blackbar span12"><span>Video Tutorials</span></h2>
					</div>
					
					<div class="row-fluid">						
						<div class="span7" >
							<div class="video-container white-module">
								<iframe width="420" height="315" src="http://www.youtube.com/embed/Y1U8PbmT-x0" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>

						<div class="span5" >
							<ul class="link-list">
							<li class="active"><a href="#">This and that</a></li>
							<li><a href="#">Something cool</a></li>
							<li><a href="#">Simplepolation</a></li>
							<li><a href="#">Scripting test texts</a></li>
							<li><a href="#">Something cooler</a></li>
							<li><a href="#">OpenType Features</a></li>
							</ul>
							<p >Designers post video tutorials on YouTube, and we highlight the best on this site. <a href="tutorials/videos/">Learn more...</a></p>
						</div>
				
			</section>
			
			
			<!-- COMMUNITY DEVELOPMENT -->
			<div class="row-fluid"> 
				<section class="span5">
						<h2>Community Development</h2>
					 
						<p >Most of FontForge was created by a single person, George Williams, as a
						retirement project from 2000 until 2011. You can read the full story on the
						<a href="about/project/history/">history</a> page.</p>
						
						<p >Currently a community of 
						active users maintains the project, including 
						Some One, Someone Else, The Third Man, and Another Person.</p>
						
						<p >Since FontForge is under active development, it is essentially (and eternally)
						beta software. Expect to find bugs.</p>
						
						<p >When you do, please become an active user
						yourself and take 5 minutes to <a href="documentation/developers/bugs/">report 
						a bug</a>, so it can be fixed.
						<a href="documentation/developers/">Learn more...</a></p>
				 </section>
			
			
				<!-- MAILING LISTS -->
				 	<section class="mailing-lists span7">
				 		<div class="wrapper">
							<hgroup>
							
								<!-- MAILING LIST SEARCH FORM -->
								<form class="form-search mailing-list-search-form" method="get" action="http://fontforge.10959.n7.nabble.com/template/NamlServlet.jtp">
									<input type="text" class="input-medium search-query" placeholder="Search lists..." name="query">
									<input type="hidden" name="macro" value="search_page">
									<input type="hidden" name="node" value="2">
									<input type="hidden" name="n" value="2">
									<button type="submit" class="btn btn-small">Go</button>
								</form>
					 	 		<h2>Mailing Lists</h2>
								
					 	 		<p>The FontForge community gathers on two mailing lists, 
								one for users and one for developers.</p>
					 		</hgroup>
				 	 		<div class="users">
					 	 		<h3>Users</h3>
					 	 		<p>Installation, workflow&emdash;any question answered</p>
					 	 		<ul class="unstyled">
					 	 			<li><a href="https://lists.sourceforge.net/lists/listinfo/fontforge-users" class="btn btn-mini">Subscribe</a></li>
									<li><strong>Read Online: <a href="http://fontforge.10959.n7.nabble.com/User-f8781.html">Nabble</a></strong> <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=fontforge-users" >SourceForge</a></li>
					 	 		</ul>
				 	 		</div>	 		
					 	 	<div class="developers">
						 	 	<h3>Developers</h3>
						 	 	<p>New features, crash reports, code reviews</p>
						 	 	<ul class="unstyled">
						 	 		<li><a href="https://lists.sourceforge.net/lists/listinfo/fontforge-devel" class="btn btn-mini">Subscribe</a></li>
						 	 		<li><strong>Read Online: <a href="http://fontforge.10959.n7.nabble.com/Developer-f3.html">Nabble</a></strong> <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=fontforge-devel" >SourceForge</a></li>
						 	 	</ul>
					 	 	</div>	
				 	 		<div class="note" >Note: Subscribing is required to post a message, and posting to these mailing
							lists exposes your email address.</div>
				 	 	</div>
				   </section>
			  </div>
		
		
		</div>
	</div>
	<!-- END MAIN CONTENT CONTAINER -->

{% include footer.html %}

{% include homepage-end.html %}
