{% include html-start.html %}

<body class="home">

{% include nav-main.html %}

	<!-- HERO UNIT -->
	<div class="hero-unit noise">
		<div class="screen">
	  		<div class="container">
	  			<div class="row-fluid">

					<div class="span6">
						<h1>FontForge</h1>
							<p>Create and edit fonts in many formats:
							OpenType, TrueType, AAT, PostScript, Multiple Master,
							CID-Keyed, SVG and various bitmap formats</p>
					</div>


				</div>

	  		</div>
	  	</div>
	</div>

	<!-- DOWNLOAD BAR  -->
  	<div class="download-bar">
  		<div class="container">
  			<div class="row-fluid">

				<ul class="masthead-links unstyled">
					<li class="span4 ff-download">
						<a href="downloads/windows/" class="btn btn-primary btn-large dl windows" >Windows Install</a>
						<a href="downloads/mac/" class="btn btn-primary btn-large dl macos" >Mac OS Install</a>
						<a href="downloads/gnulinux/" class="btn btn-primary btn-large dl gnulinux" >\GNU+Linux Install</a>
						<a href="downloads/" class="btn btn-primary btn-large default" >Install</a>
					</li>
					<li class="span4 statistic hide downloads"><strong id="cnt-downloads"></strong> <span>downloads<br> this week</span></li>
					<li class="span4 statistic hide contributors"><strong id="cnt-contributors"></strong> <span>changes<br> this month</span></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- MAIN CONTENT CONTAINER -->
	<div class="content">
		<div class="container">

			<!--[if lt IE 7]>
			<div class="row-fluid">
				<section class="span8">
					<p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">
					Upgrade to a different browser</a> to experience this site.</p>
				</section>
			</div>
			<![endif]-->

			<!-- WELCOME TEXT -->
			<div class="row-fluid">
				<section class="welcome span9">
				{{ content }}
				</section>

				<!-- LICENSE -->
				<section class="license span3">
					<div class="roundel">
						<h6>License</h6>
						<h3><span>FontForge</span> is FREE!</h3>
						<a href="about/project/license/">Find out more &raquo;</a>
					</div>
				</section>
			</div>

			<!-- SCREENSHOTS -->
			<div class="row-fluid">
				<section class="screenshots blockrow3 span12">
					<h2 class="blackbar"><span>Screenshots</span></h2>
					<ul>
					    <!-- TODO: view screenshots through a carousel -->
						<li class="span4"><a class="orange" href="{{ site.url }}/assets/img/samples/screenshot-1.png" data-lightbox="screenshots" data-title="Open Any Font Format" ></a></li>
						<li class="span4"><a class="red" href="{{ site.url }}/assets/img/samples/screenshot-2.png" data-lightbox="screenshots" data-title="Edit several glyphs on one canvas" ></a></li>
						<li class="span4"><a class="green" href="{{ site.url }}/assets/img/samples/screenshot-3.png" data-lightbox="screenshots" data-title="Add OpenType Features" > </a></li>
					</ul>
				 </section>
			</div>

			<!-- DOWNLOAD -->
			<div class="row-fluid">
				<section class="downloads blockrow6 span12">
					<h2 class="blackbar"><span>Downloads</span></h2>
					<ul class="supported-systems">
						<li class="span2"><a class="gnulinux" href="downloads/gnulinux/" title="GNU+Linux"></a></li>
						<li class="span2"><a class="mac" href="downloads/mac/" title="Mac OS X"></a></li>
						<li class="span2"><a class="windows" href="downloads/windows/" title="Windows"></a></li>
						<li class="span2"><a class="source" href="downloads/source/" title="Source code"></a></li>
						<li class="span2 offset2"><a class="uninstalling" href="downloads/uninstalling/" title="Uninstalling"></a></li>
					</ul>
				</section>
			</div>


			<!-- VIDEOS -->
			<section class="videos">

					<div class="row-fluid">
						<h2 class="blackbar span12"><span>Video Tutorials</span></h2>
					</div>

					<div class="row-fluid">
						<div class="span7" >
							<div class="video-container white-module">
								<iframe width="420" height="315" src="http://www.youtube.com/embed/q2mNOTo9lqQ" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>

						<div class="span5" >
							<ul class="link-list">
							<li class="active"><a href="#">Interpolate Control Points</a></li>
							<li><a href="http://www.youtube.com/watch?v=x_RVbQzJy5k">Build Accents Automatically</a></li>
							<li><!--a href="#">Simplepolation</a--></li>
							<li><a href="http://www.youtube.com/watch?v=0LxHkp8Bf8o#t=45">Scripting test texts</a></li>
							<li><!--a href="#">Something cooler</a--></li>
							<li><!--a href="#">OpenType Features</a--></li>
							</ul>
						</div>
				    </div>
			</section>


			<!-- COMMUNITY DEVELOPMENT -->
			<div class="row-fluid">
				<section class="span5">
						<h2>Community Development</h2>

						<p>FontForge is maintained by the community
						<a href="https://github.com/fontforge/fontforge">on GitHub.</a>
						It was originally created by George Williams, as a
						retirement project from 2000 until 2012.
						<a href="about/project/history/">History...</a></p>

						<p >If you find a bug, please <a href="documentation/developers/bugs/">open-up
						an issue</a> on the repository.
						<a href="documentation/developers/">Guidelines...</a></p>
				 </section>


				<!-- MAILING LISTS -->
				 	<section class="mailing-lists span7">
				 		<div class="wrapper">
							<hgroup>

								<!-- MAILING LIST SEARCH FORM -->
								<form class="form-search mailing-list-search-form" method="get" action="http://fontforge.10959.n7.nabble.com/template/NamlServlet.jtp">
									<input type="text" class="input-medium search-query" placeholder="Search lists..." name="query">
									<input type="hidden" name="macro" value="search_page">
									<input type="hidden" name="node" value="2">
									<input type="hidden" name="n" value="2">
									<button type="submit" class="btn btn-small">Go</button>
								</form>
					 	 		<h2>Mailing Lists</h2>

					 		</hgroup>
				 	 		<div class="users">
					 	 		<h3>Users</h3>
					 	 		<p>Installation, workflow&mdash;any question answered</p>
					 	 		<ul class="unstyled">
					 	 			<li><a href="https://lists.sourceforge.net/lists/listinfo/fontforge-users" class="btn btn-mini">Subscribe</a></li>
									<li><strong>Read Online: <a href="http://fontforge.10959.n7.nabble.com/User-f8781.html">Nabble</a></strong> <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=fontforge-users" >SourceForge</a></li>
					 	 		</ul>
				 	 		</div>
					 	 	<div class="developers">
						 	 	<h3>Developers</h3>
						 	 	<p>New features, crash reports, and code reviews are now happening with <a href="https://github.com/fontforge/fontforge/issues">Github issue tracker</a></p>
						 	 	<p>Activate the Watch feature of the <a href="https://github.com/fontforge/fontforge/">Github project</a> to join the issue tracker discussions via email</p>
						 	 	<p>There is also a developer mailing list for background discussions</p>
						 	 	<ul class="unstyled">
						 	 		<li><a href="https://lists.sourceforge.net/lists/listinfo/fontforge-devel" class="btn btn-mini">Subscribe</a></li>
						 	 		<li><strong>Read Online: <a href="http://fontforge.10959.n7.nabble.com/Developer-f3.html">Nabble</a></strong> <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=fontforge-devel" >SourceForge</a></li>
						 	 	</ul>
					 	 	</div>
				 	 		<div class="note" >Note: Subscribing is required to post a message, and posting to these mailing
							lists exposes your email address.</div>
				 	 	</div>
				   </section>
			  </div>


		</div>
	</div>

	<script type="text/javascript" src="/assets/js/header_animation.js"></script>
	<script type="text/javascript" src="/assets/js/site.js"></script>

	<!-- END MAIN CONTENT CONTAINER -->

{% include footer.html %}

{% include homepage-end.html %}
