/*
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);
*/

/* Below are some nice defaults */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol, nav li { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width: 100%; }
figure { margin: 0; }
abbr[title] { border-bottom: 1px dotted; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
dfn { font-style: italic; }
::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

/* Reset */

body,h1,h2,h3,h4,h5,h6,p,a,ul,ol,dl,dt,dd,table,caption,th,td,fieldset,legend,blockquote {
	font-weight:400;
	color:inherit;
	margin:0;
	padding:0;
}

/* Fonts */

body { font: 16px/1.5 "Helvetica Neue", Arial, sans-serif; }
pre, code, kbd, samp { font-family: "Anonymous Pro",  monospace; font-size: 1em; }

/* Block Elements */

p,ul,ol,dl,img,table { margin-bottom:1.2em; }
p img, table img { margin-bottom: 0; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; }
/*
h1 { font-size:300%; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4,h5 { font-size:120%; }
h6 { font-size:100%; }
*/
h5,h6 { font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; }
h4,h5,h6 { color:#450b09; }

ul,ol { margin-left: 1.5em; }

blockquote {
	margin: 1em 2em;
	padding: 0.5em 0 0 1em; 
	background: #e6f1f6;
	border-left: 3px solid #c5d5dd;
	font-size: 12px;
}

pre {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;

	font-family:Monaco,"DejaVu Sans Mono","Courier New",monospace;
	font-size:13px;
	overflow:auto;
	margin:10px 0;
	border:2px solid #ddd;
	background-color:#333;
	color:#fff;
	-webkit-font-smoothing:auto;
	padding:10px;
}

/* Tables */

body, td { font-size: 12px; }
td { padding: 4px; }
th { text-align: left; margin-top: .6em; }
table { 
	max-width: 100%;
	background:#b8f3e7; 
	border-spacing: 1px;
	padding:3px;
}

table td { padding:8px; }


#module { background-color: #dff; }
table table { background: #fdd; }
table tr.odd { background: #fff; }

dt { font-weight: bold; }

caption { 
	
}

caption a {
	padding-top: .4em;
	
}



/* ===================
    ALL: Theme
   =================== */


header, #main, footer { padding: 1em 5%; }
header { border-bottom: 20px solid #a69b88; margin: 0 0 2em; }
footer { border-top:    20px solid #a69b88; }
#main aside { border-top:    20px solid #a69b88; }
header, footer, #main aside { background:#b8b098; }
header h1 { color:white; }

nav a { background:#a69b88; color:white; }
nav a#active { border-top: 4px solid #e44d26; }

footer {
	font-size: 12px;
}
	footer section {
		display: inline-block;
		margin-right: 2em;
		vertical-align: top;
		text-align: left;
		width: 14%;
	}
	footer section ul {
		list-style: none;
		margin: 0 0 3em;
	}
	footer section ul li {
		padding: 0 0 0 0.5em;
		text-indent: -.5em;
	}

/* ==============
    MOBILE: Menu
   ============== */

header h1 {
	margin: 0 0 .8em;
}

header {
	text-align: center;
}
	header a {
		color: white;
		text-decoration: none;
	}
	header a:hover {
		text-decoration: underline;
	}

nav a{
	display:block;
	margin-bottom:10px;
	padding:15px 0;

	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

nav a:hover, nav a:visited{
	color: white;
}

nav a:hover{
	text-decoration:underline;
}

nav li {
	list-style: none;
}


/* ==============
    MOBILE: Main
   ============== */

p {
	max-width: 40em;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	nav {
		-moz-column-count: 2;
		-moz-column-gap: 10px; 
		-webkit-column-count: 2;
		-webkit-column-gap: 10px;
	}

}


@media only screen and (min-width: 768px) {

/* ====================
    WIDE: Menu
   ==================== */
	
	nav {
		width: 100%;
		margin-bottom: -1em;
		-moz-column-count: 1;
		-webkit-column-count: 1;

	}
	nav a{
		display: inline-block;
		margin:0 1.7%;
		padding: 15px 3%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    WIDE: IE Fixes
   ======================== */

	nav li{
		display:inline;
	}	
	.oldie nav a{
		margin:0 0.7%;		
	}
}




/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
